.home {
  min-height: 100vh;
}

.home .list-item {
  border: 1px solid #ced4da; /* Same as input group */
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}

.home .lists-container {
  margin-top: 30px;
}

.home .lists-header {
  margin-bottom: 10px;
}

.home .section-header {
  font-size: 30px; /* HACK: Same as header 2 */
}